.quote__wrap{
  min-height: 100vh;
  text-align: center;
  position: relative;
}
.quote__inner{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-top: 10px;
  padding-bottom: 10px;
}
.quote__inner h1{
  line-height: 1.6em;
}
.quote__inner .blockquote{
  margin-top: 40px;
}

@media(max-width: 768px){
  .quote__inner{
    position: relative;
    top: 0;
    transform: translateY(0);
  }
  .quote__inner h1{
    font-size: 30px;
  }
}
